// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$font-size-base: 0.9rem;
$h2-font-size: 1.35rem;

$input-btn-focus-box-shadow: none;

$primary: #5533ff;

$navbar-dark-active-background: #102090;
//$navbar-padding-x: 0;
$navbar-padding-y: 0;

$dropdown-spacer: 0px !default;
