
#page {
  padding-top: 2.5rem;
}

.navbar {
  font-size: 1rem;
}

h1.entry-title, h2.entry-title, h3.entry-title {
  margin-bottom: 0;
}

div.entry-meta {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.widget ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.widget ul:last-child {
  margin-bottom: 0;
}

.widget ul li {
  padding-left: 1em;
  text-indent: -1em;
}

.widget ul li:before {
  /*content: "+";
  padding-right: 5px;*/
}

#navbar-searchform {
  width: 300px;
}

#navbar-searchform input {
  border: 1px solid #000;
}

#navbar-searchsubmit {
  border-left: none !important;
}

.navbar .dropdown.show > a {
  background: #4422cc;
}

div.entry-meta {
  color: #999999;
  font-size: 0.8rem;
}

div.entry-meta a {
  color: #999999;
  text-decoration: underline;
}

footer.entry-footer {
  font-size: 0.8rem;
}

footer.site-footer {
  color: #cccccc;
  font-size: 0.8rem;
}

footer.site-footer a {
  color: #cccccc;
  text-decoration: underline;
}

section.not-found {
  text-align: center;
}

#comments {
  font-size: 0.8rem;
}

.jumbotron {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
