// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$body-bg: #fafbfc;
$font-size-base: 0.9rem;
$h1-font-size: 1.35rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.15rem;

$card-border-radius: 0;
$card-spacer-x: 0.6rem;

$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-btn-focus-box-shadow: none;

$btn-border-radius: 0;
$btn-border-radius-sm: 0;

$primary: #5533ff;
$secondary: #4422cc;

$navbar-dark-color: #ffffff;
$navbar-dark-active-background: #102090;
//$navbar-padding-x: 0;
$navbar-padding-y: 0;

$enable-caret: true;

$dropdown-spacer: 0px !default;
$dropdown-link-hover-bg: #4422cc;
$dropdown-link-hover-color: #ffffff;

$box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
